<%- include("../partials/header") %> 

<header class="jumbotron">
    <div class="container">
        <h1><i class="fab fa-microblog"></i></i>Welcome to SpeakUP!</h1>
        <p>Express the words within your hearts...</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/blogs/new">Add New Blog</a>
        </p>
    </div>
    
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <div class="col-md-12">
        <% if(noMatch != null){ %> 
            <h3> <%= noMatch %>  </h3>
            <% } %> 
        </div>
        <% blogs.forEach(blog => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="<%= blog.image %>" class="card-img-top" alt="<%= blog.name %>">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0"><%= blog.name %></h5>
                        <div class="mb-1">
                            <span class="badge label-primary"><i class="fas fa-thumbs-up"></i> <%= blog.likes.length %></span>
                        </div>
                        <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
                            
                    </div>
                </div>   
            </div>
            <% }) %>
        </div>
        
        
        <%- include("../partials/footer") %> 
        